# Lyric Generation AI Data Pre-Processing

## Importing dataset and libraries

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

filename = "songdata_small.csv"

data = pd.read_csv(filename)
data.shape

(50, 1)

In [21]:
from string import ascii_lowercase

good_chars_set = set(ascii_lowercase)
good_chars_set.add(" ")
good_chars_set.add(".")
good_chars_set.add(",")
good_chars_set.add("\n")

# clean string to leave only allowed chars
def clean(s):
    s = s.lower()
    rtrn = []
    
    # c is char
    for c in s:
        if c in good_chars_set:
            rtrn += c
    
    return ''.join(rtrn)

data['Lyrics'] = data['Lyrics'].apply(clean)
data.head()

                                              Lyrics
0  look at her face, its a wonderful face  \nand ...
1  take it easy with me, please  \ntouch me gentl...
2  ill never know why i had to go  \nwhy i had to...
3  making somebody happy is a question of give an...
4  making somebody happy is a question of give an...

In [22]:
real_data = pd.DataFrame()

for line in data['Lyrics']:
    line_length = len(line)
    
    for i in range(0, line_length - 20):
        # Writes the seed, char, and ascii value respectively to output file
        seed = line[i:i + 20]
        char = line[i + 20]
        
        real_data = real_data.append({'Seed': seed, 'Output': ord(char)}, ignore_index=True)

real_data.head()

   Output                  Seed
0   115.0  look at her face, it
1    32.0  ook at her face, its
2    97.0  ok at her face, its
3    32.0  k at her face, its a
4   119.0   at her face, its a

In [23]:
for row in range(real_data.shape[0]):
    val = int(real_data['Output'][row])
    
    real_data['Output'][row] = val
    
    if val not in real_data:
        real_data[val] = 0
    
    real_data[val][row] = 1

del real_data['Output']

real_data.head()

C:\Users\seiler\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\seiler\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,Seed,115,32,97,119,111,110,100,101,114,...,107,121,98,106,44,118,113,122,46,120
0,"look at her face, it",1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"ook at her face, its",0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"ok at her face, its",0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"k at her face, its a",0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"at her face, its a",0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Activation, LSTM
from keras.optimizers import RMSprop

In [25]:
model = Sequential()

# add LSTM layer
model.add(LSTM(128, input_shape=(20, len(good_chars_set))))

# add Softmax layer to output one character 
model.add(Dense(len(good_chars_set)))
model.add(Activation('softmax'))

# compile the model and pick the loss and optimizer
model.compile(loss='categorical_crossentropy', optimizer=RMSprop(lr=0.01))

In [19]:
x = 0
y = 0

# train the model
model.fit(x, y, batch_size=128, epochs=30)

NameError: name 'x' is not defined